{% extends 'main.html' %}

{% block content %}
  <h2>Change your password</h2>
<div class="form-container">
  <form method="post">
    <div class="form-group">
        {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn--main" input type="submit" value="register">Change password</button>
   
  </form>
    </div>
  </div>

  <style>
    form{
      padding: 4px;
      text-align: block;
      color: black;
    }
    form-group{
      margin-bottom: 15px;
    }
    input{
      display: block;
      padding-left: 50px;
       margin-bottom: 15px;
      padding: 8px;
      width: 100%;
      max-width: 300px;
    }
    h2{
      color: navy;
      font-size: large;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .form-container{
       width: 300px;
       margin: 0 auto;
    }
  </style>
{% endblock %}